body {
  background: linear-gradient(90deg, rgb(113, 22, 155) 0%, rgb(177, 66, 199) 35%, rgb(182, 70, 67) 100%);
}
  
header, nav {
  text-align: center;
  margin: 20px 0;
  color: antiquewhite;
  font: bold 24px Arial ;
}

#botoes1{
  text-align: center;
  padding-bottom: 2%;
}


.b {
  text-decoration: none;
  background: #333;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 10px;
  width: 150px;
  text-align: center;
  padding: 30px 0;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  font: bold 15pt Arial
}


footer{
    color: aliceblue;
    text-align: center;
    font: bold 8pt Arial;
    padding: 8px;
}

#id_tempo{
  color: aliceblue;
  text-align: center;
  font: bold 8pt Arial;
  padding-top: 10px
}

#img_cron{
  width: 10%;
  height: 10%;
}

#id_cron{
  font-size: 50pt;
}